$powder-blue: hsla(181, 33%, 74%, 1);
$ming: hsla(182, 38%, 33%, 1);
$light-coral: hsla(358, 74%, 71%, 1);
$amaranth-purple: hsla(343, 52%, 42%, 1);
$almond: hsla(33, 53%, 89%, 1);
$seashell: hsla(30, 86%, 97%, 1);
$taupe-gray: hsla(330, 6%, 55%, 1);
